doctype html
html
    head
        include _head
    body
        // Header
        include _headerCompany
        .ilanCompanyWrapper(style="display:flex")
            .ilanInfo
                .ilanHeading
                    u &Idot;lan
                .ilanCompanyName= `Şirket Adı: ${ad.companyName}`
                .ilanName= `İlan Adı: ${ad.adName}`
                .ilanSum(style="margin-bottom: 0rem;")= `İlan Açıklaması:` 
                br
                p(style="word-wrap: break-word")=`${ad.adSum}`
                //- button.applyAdBtn.btn(style='margin-top: 5rem;' data-ad-id=`${ad.id}`) &Idot;lana Ba&scedil;vur
            .ilanInfo
                .ilanHeading
                    u Yetkili Kişi
                .ilanCompanyName= `Yetkili Adı: ${ad.yetkiliAdi}`
                .ilanName= `Yetkili Diploma No: ${ad.yetkiliDipNo}`
                .ilanName= `Yetkili Mezun Olunan Üniversite: ${ad.yetkiliUni}`
                .ilanName= `Yetkili Mezun Olunan Bölüm: ${ad.yetkiliBolum}`

        .user-id(style='display:none')= `${user.id}`
        //- script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js')
        //- script(type="module" src='/js/index.js')
        script(src='/js/bundle.js')
